.App {
  text-align: center;
}

.NavBar {
  position: absolute;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
  display: flex;

  color: black;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  box-shadow: 0 8px 6px -6px #646464;
  background-color: white;
}

.nav-links {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
}

.NavBar a,
.logo {
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 5px;
  color: inherit;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.logo {
  font-size: 2rem;
}
/* Dropdown functionality */
/* Dropdown Button */
.shop {
  cursor: pointer;
}
.shop:focus {
  color: black;
}
.sales {
  color: red !important;
}

/* Dropdown button on hover & focus */
.shop:hover {
  color: gray;
}

/* The container <div> - needed to position the dropdown content */
.nav-mid-links {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.body {
  margin-bottom: 100px;
}

.back-in-stock {
  margin-top: 100px;
  font-size: 2rem;
}

.back-in-stock-btn {
  margin-top: 15px;
  border-radius: 50px;
  padding: 20px;
  border: none;
  text-transform: uppercase;
}

.back-in-stock-btn:hover {
  background-color: rgb(155, 155, 155);
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 50px;
}

.card-content {
  justify-content: center;
}

.bottom-body {
  display: flex;
  justify-content: center;
}

/* Footer */

.footer {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.top-footer {
  display: flex;
}

.left-top-footer {
  text-align: left;
  width: 70% !important;
  float: left !important;
}

.right-top-footer {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.left-header,
.middle-header,
.right-header,
.left-top-header {
  font-weight: 700;
}

.left-rtf,
.middle-rtf,
.right-rtf {
  width: 33%;
}

.footer p {
  cursor: pointer;
}

.footer p:hover {
  text-decoration: underline;
}
